<header class="header">
    <nav class="navbar">
        <div class="nav-brand">
            <a href="/">My Blog</a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <% if (user) { %>
                <li><a href="/blogs/new">Write</a></li>
                <li class="dropdown">
                    <span class="user-name"><%= user.username %></span>
                    <div class="dropdown-content">
                        <form action="/auth/logout" method="POST" class="logout-form">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
            <% } %>
        </ul>
    </nav>
</header>